<div
    class="entity-identifier"
    [class.root]="isRoot"
    (click)="!isRoot && onNodeIdentifierClick()"
>
    {{ scnTreeNode.idtf }}
</div>

<ng-container *ngIf="{
    accessConstFuzPerm: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessConstFuzPerm),
    accessConstFuzTemp: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessConstFuzTemp),
    accessConstNegPerm: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessConstNegPerm),
    accessConstNegTemp: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessConstNegTemp),
    accessConstPosPerm: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessConstPosPerm),
    accessConstPosTemp: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessConstPosTemp),
    accessVarFuzPerm: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessVarFuzPerm),
    accessVarFuzTemp: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessVarFuzTemp),
    accessVarNegPerm: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessVarNegPerm),
    accessVarNegTemp: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessVarNegTemp),
    accessVarPosPerm: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessVarPosPerm),
    accessVarPosTemp: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeAccessVarPosTemp),
    dCommonConst: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeDCommonConst),
    dCommonVar: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeDCommonVar),
    uCommonConst: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeUCommonConst),
    uCommonVar: getSemanticVicinityByEdgeType(ScEdgeIdtf.EdgeUCommonVar)
} as semanticVicinity">
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessConstFuzPerm,
            semanticVicinity: semanticVicinity.accessConstFuzPerm
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessConstFuzTemp,
            semanticVicinity: semanticVicinity.accessConstFuzTemp
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessConstNegPerm,
            semanticVicinity: semanticVicinity.accessConstNegPerm
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessConstNegTemp,
            semanticVicinity: semanticVicinity.accessConstNegTemp
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessConstPosPerm,
            semanticVicinity: semanticVicinity.accessConstPosPerm
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessConstPosTemp,
            semanticVicinity: semanticVicinity.accessConstPosTemp
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessVarFuzPerm,
            semanticVicinity: semanticVicinity.accessVarFuzPerm
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessVarFuzTemp,
            semanticVicinity: semanticVicinity.accessVarFuzTemp
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessVarNegPerm,
            semanticVicinity: semanticVicinity.accessVarNegPerm
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessVarNegTemp,
            semanticVicinity: semanticVicinity.accessVarNegTemp
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessVarPosPerm,
            semanticVicinity: semanticVicinity.accessVarPosPerm
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeAccessVarPosTemp,
            semanticVicinity: semanticVicinity.accessVarPosTemp
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeDCommonConst,
            semanticVicinity: semanticVicinity.dCommonConst
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeDCommonVar,
            semanticVicinity: semanticVicinity.dCommonVar
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeUCommonConst,
            semanticVicinity: semanticVicinity.uCommonConst
        }}"
    ></ng-container>
    <ng-container *ngTemplateOutlet="neighborGroup;
        context: {$implicit: {
            groupSymbols: groupSymbols.EdgeUCommonVar,
            semanticVicinity: semanticVicinity.uCommonVar
        }}"
    ></ng-container>
</ng-container>

<ng-template #neighborGroup let-context>
    <ng-container *ngIf="context.semanticVicinity.targets.length">
        <div class="group-header">
            <span class="group-symbol">{{ context.groupSymbols.from }}</span>
            <span
                *ngIf="!!context.semanticVicinity.idtf.length"
                class="entity-identifier"
                (click)="onEdgeIdentifierClick(context.semanticVicinity.idtf)"
            >
                {{ context.semanticVicinity.idtf }}
            </span>
            <span>:</span>
        </div>
        <div class="group" *ngFor="let neighbor of context.semanticVicinity.targets">
            <scn-tree-item [scnTreeNode]="neighbor"></scn-tree-item>
        </div>
    </ng-container>
    <ng-container *ngIf="context.semanticVicinity.sources.length">
        <div class="group-header">
            <span class="group-symbol">{{ context.groupSymbols.to }}</span>
            <span
                *ngIf="!!context.semanticVicinity.idtf.length"
                class="entity-identifier"
                (click)="onEdgeIdentifierClick(context.semanticVicinity.idtf)"
            >
                {{ context.semanticVicinity.idtf }}
            </span>
            <span>:</span>
        </div>
        <div class="group" *ngFor="let neighbor of context.semanticVicinity.sources">
            <scn-tree-item [scnTreeNode]="neighbor"></scn-tree-item>
        </div>
    </ng-container>
</ng-template>